# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf
*.dll.*
*.exe
*.mdb

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

*.log

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
src/dafny/*.mdb
.vscode/settings.json
model.bvd
*.cfg
**/tmp/**
scripts/__pycache__/pytesttests.cpython-37-pytest-5.3.5.pyc
scripts/__pycache__/pytesttests.cpython-37-pytest-5.4.1.pyc
*.go
*cs
scripts/data/.DS_Store
**/.DS_Store
arbitrum.code-workspace
.metals/metals.h2.db
arbitrum-dafny.code-workspace
*.sol
*.dfy2
src/dafny/dafny-evm.code-workspace
src/dafny/refinement/cfg1.pdf
src/dafny/refinement/cfg.dot
dafny-evm.code-workspace
